@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
html, body, p {
  font-family: "poppins","sans-serif";
  color: #222;
  text-align: justify; }

html, body, .carousel-inner img {
  height: 100%;
  width: 100%; }

.padding1, .col-12 > div {
  padding-bottom: 0rem; }

.fa-twitter:hover, .fa-youtube:hover, .fa-facebook:hover {
  color: #d5d5d5; }

.my-4, .text-center hr {
  border-top: 2px solid #b4b4b4; }

.my-4 {
  width: 100%; }

.text-center hr {
  width: 25%; }

.jumbotron {
  padding: 0rem;
  border-radius: 0; }

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding: 0rem; }

.welcome h1 {
  font-size: 500%;
  text-transform: uppercase; }

.padding {
  padding-bottom: 2rem; }

[class*="col-"] {
  padding: 1rem; }

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem; }

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-90%); }

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000; }

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c; }

.btn-primary:hover {
  background-color: turquoise;
  border: 1px solid teal; }

div > p::selection {
  color: red;
  background-color: greenyellow; }

.footer1 {
  text-align: center; }

.social a {
  font-size: 3em;
  padding: 1em; }

.fa-twitter {
  color: #00aced; }

.fa-youtube {
  color: #bb0000; }

.fa-facebook {
  color: #3b5998; }

.navbar {
  padding: .8rem; }

.navbar-nav li {
  padding-right: 20px; }

.nav-link {
  font-size: 1.1em !important; }

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible; }

@media (max-width: 992px) {
  .social a {
    font-size: 3em;
    padding: 1em; }

  .carousel-caption {
    position: absolute;
    top: 45%;
    transform: translateY(-80%); }

  .carousel-caption h1 {
    font-size: 450%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000; }

  .carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem; } }
@media (max-width: 768px) {
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-100%); }

  .carousel-caption h1 {
    font-size: 350%;
    text-transform: uppercase; }

  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem; }

  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px; }

  .social a {
    font-size: 2.5em;
    padding: 1.2em; } }
@media (max-width: 576px) {
  .carousel-caption {
    position: absolute;
    top: 40%;
    transform: translateY(-50%); }

  .carousel-caption h1 {
    font-size: 250%;
    text-transform: uppercase; }

  .carousel-caption h3 {
    font-size: 100%; }

  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px; }

  .carousel-indicators {
    display: none; }

  .social a {
    font-size: 2rem;
    padding: .7rem; } }

/*# sourceMappingURL=temples.css.map */
