@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
%message{
    font-family: "poppins","sans-serif";
    color: #222;
    text-align: justify;
}


$value1:100%;


%message1{
    height: $value1;
    width: $value1;
}


html,body{
    @extend %message;
    @extend %message1;
}


p{
    @extend %message;
}


.carousel-inner img{
    @extend %message1;
}


$value2:2px solid #b4b4b4;


.my-4{
    border-top: $value2;
    width: $value1;
}


.text-center hr{
    border-top: $value2;
    width: 25%;
}


$color1:#d5d5d5;
.fa-twitter:hover,.fa-google-plus-g:hover,.fa-instagram:hover,.fa-youtube:hover,.fa-facebook:hover{
color: $color1;
}



$value3:0rem;

footer {
    background-color: #3f3f3f;
    color:$color1;
    padding: $value3;
}


.navbar{
    padding: $value3;
}


.col-12 > div, .padding1{
    padding-bottom: $value3;
}


.carousel-caption h3{
    font: {
    size: 200%;
    weight: 500;
    }
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}


.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}


.navbar-nav li{
    padding-right: 20px;
}


.padding{
      padding-bottom: 2rem;
}


.welcome{
    width: $value1;
    margin: 0 auto;
    padding-top: 2rem;
}


[class*="col-"] {
    padding: 1rem;
}


.nav-link{
    font-size: 1.1em!important ;
}


  
.carousel-caption{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
}



.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.btn-primary{
    background-color: #6648b1;
    border: 1px solid #563d7c;
}


.btn-primary:hover{
    background-color: turquoise;
    border: 1px solid teal;
}



div > p::selection {
    color: red;
    background-color: greenyellow;
}


.footer1{
    text-align: center;
}


.social a{
    font-size: 3em;
    padding: 1em;
}

.fa-twitter{
    color: #00aced
}



.fa-youtube{
    color: #bb0000;
}
.fa-facebook{
    
    color: #3b5998
    }

@media (max-width: 992px) {
    .social a{
        font-size: 3em;
        padding: 1em;
    }
    
    .carousel-caption{
        position: absolute;
        top: 45%;
        transform: translateY(-100%);
    }
    .carousel-caption h1{
        font-size: 500%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
    }
    .carousel-caption h3{
        font: {
        size: 200%;
        weight: 500;
        }
        text-shadow: 1px 1px 10px #000;
        padding-bottom: 1rem;
    }
}



@media (max-width: 768px) {



.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-120%);
}
.carousel-caption h1{
    font-size: 350%;
    text-transform: uppercase;
}
.carousel-caption h3{
    font: {
        size: 140%;
        weight: 400;
    }
    padding-bottom: .2rem;
}
.carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px;
 }
 .display-4{
    font-size: 200%;
}
.social a{
    font-size: 2.5em;
    padding: 1.2em;
}


}
@media (max-width: 576px) {

    .carousel-caption{
        position: absolute;
        top: 40%;
        transform: translateY(-85%);
    }
    .carousel-caption h1{
        font-size: 150%;
        text-transform: uppercase;
    }
    .carousel-caption h3{
        font-size: 60%;
    }
    .carousel-caption .btn{
        font-size: 40%;
        padding: 4px 8px;
    }
    .carousel-indicators{
        display: none;
    }
    .social a{
        font-size: 2rem;
        padding: .7rem;
    }
    .display-4{
        font-size: 160%;
    }

}
